<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">Gestione Clienti</a>
    <!--   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="router-link-active" > <mat-icon  class="material-icons-outlined">dashboard</mat-icon></a>
          </li>
          <li class="nav-item">
            <a style="cursor: pointer;" class="nav-link active"  [routerLink]="['/clienti']" routerLinkActive="router-link-active">
              <p>  
                <mat-icon class="material-icons-outlined">      
                    face
                  </mat-icon>  
              </p>
            </a>    
          </li>
          <li class="nav-item">
            <a (click)="logOut()" style="cursor: pointer;" class="nav-link active" routerLinkActive="router-link-active">
              <p>  
                <mat-icon class="material-icons-outlined">      
                    logout
                  </mat-icon>  
              </p>
            </a>    
          </li>
        </ul>
      </div>
    </div>
  </nav>