
<section class="container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">

            <div class="row">
              <div class="col-4">

                <mat-icon class="material-icons-outlined">
                  people_alt
                  </mat-icon>
               
              </div>
              <div class="col-8">
                Totale Clienti:
               <span>{{clienti.totalElements | number}}</span> 
              </div>
            </div>


          </div>
          
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">

            <div class="row">
              <div class="col-4">

                <mat-icon class="material-icons-outlined">
                 description
                </mat-icon>
               
              </div>
              <div class="col-8">
                Totale Fatture.
                <span>{{fattureTot.totalElements | number}}</span> 
              </div>
            </div>
           

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">


            <div class="row">
              <div class="col-4">
                <mat-icon>
                <span class="material-icons-outlined">
                  calendar_today
                  </span>
                </mat-icon>
              </div>
              <div class="col-8">
               {{data | date}}
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<section class="container my-5">
  <!-- <h1 class="my-5">Benvenuto su Gestione Clienti</h1> -->
  <!-- <h2 class="container my-3">Qui potrai gestire in comodità tutta la fatturazione dei tuoi clienti</h2> -->
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card text-white bg-dark border-dark">
   <!--      <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          
                <mat-icon class="material-icons-outlined">
                  people_alt
                  </mat-icon>
          <h5 class="card-title">Clienti</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button [routerLink]="['/clienti']" routerLinkActive="router-link-active"  class="btn btn-dark">Vedi Clienti</button>
          <button [routerLink]="['/nuovocliente']" routerLinkActive="router-link-active"  class="btn btn-warning">Aggiungi Cliente</button>
        </div>
       
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-dark border-dark">
      <!--   <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <mat-icon class="material-icons-outlined">
            description
           </mat-icon>
          <h5 class="card-title">Fatture</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button [routerLink]="['/fatture']" routerLinkActive="router-link-active"  class="btn btn-dark">Vedi Fatture</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-dark border-dark">
      <!--   <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <mat-icon class="material-icons-outlined">
            location_city
            </mat-icon>
          <h5 class="card-title">Inserisci Nuovi Comuni </h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <button [routerLink]="['/nuovocomune']" routerLinkActive="router-link-active"  class="btn btn-dark">Aggiungi</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-dark border-dark">
     <!--    <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button  class="btn btn-primary">Go somewhere</button>
          <button  class="btn btn-primary">Go somewhere</button>
        </div>
      </div>
    </div>
  </div>
</section>