
<section class="container my-5">
<h1>Aggiungi Nuova Fattura</h1>
<div class="row">
  <div class="col">
    <input type="date" class="form-control" placeholder="Data" [(ngModel)]="data">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Importo"  [(ngModel)]="importo">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Stato"  [(ngModel)]="stato">
  </div>
  <div class="col">
    <input type="hidden" class="form-control" placeholder="Cliente"  [(ngModel)]="clienteId">
  </div>
  <div class="col">
    <button (click)="aggiungiFattura()" class="btn btn-dark form-control">Aggiungi</button>
  </div>
  
</div>

</section>

<section class="container my-5">
  <h1>Ricerca Tramite Anno</h1>
<div class="row">

  <div class="col">
    <input type="number" class="form-control" placeholder="Anno"  [(ngModel)]="annoFatture">
  </div>
  
  <div class="col">
    <button (click)="cercaTramiteAnno()" class="btn btn-dark form-control">Cerca</button>
  </div>
</div>

</section>

<section class="container my-5">
  <h1>Ricerca Tramite Date</h1>
<div class="row">

  <div class="col">
    <input type="date" class="form-control" [(ngModel)]="primadata">
  </div>
  
  <div class="col">
    <input type="date" class="form-control" [(ngModel)]="secondadata" >
  </div>

  <div class="col">
    <button (click)="cercaTramiteDate()" class="btn btn-dark form-control">Cerca</button>
  </div>
</div>

</section>

<section class="container my-5">
  <h1>Ricerca Tramite Importo</h1>
<div class="row">

  <div class="col">
    <input type="number" class="form-control" [(ngModel)]="importouno">
  </div>
  
  <div class="col">
    <input type="number" class="form-control" [(ngModel)]="importodue" >
  </div>

  <div class="col">
    <button (click)="cercaTramiteImporto()" class="btn btn-dark form-control">Cerca</button>
  </div>
</div>

</section>




<section class="container my-5">
<mat-card class="my-5" *ngFor="let item of clienteById.content">
<h2><span> 
    <mat-icon class="material-icons-outlined">description</mat-icon>
</span>
No.{{item.numero}}</h2> 

<section class="container">
    <ul>
        <li>Data: {{item.data | date}}</li>
        <li>Importo: {{item.importo}}</li>
        <li>Anno Fattura: {{item.anno}}</li>
        <li>Stato Fattura: {{item.stato.nome}}</li>
    </ul>
    <span class="example-spacer"></span>
    <button (click)="eliminaFattura(item, clienteId)" class="btn btn-danger btn-sm">X</button> 
    <button (click)="modificaFattura(item)" class="btn btn-sm">
      <mat-icon>
      <span class="material-icons-outlined">
      edit
      </span>
    </mat-icon>
    </button> 
</section>

</mat-card>
<nav aria-label="...">
    <ul class="pagination pagination-sm" >
      <li class="page-item"  *ngFor="let item of fattureCount; let i=index">
        <a class="page-link"  (click)="getPaginations(i+1)">{{i+1}}</a>
      </li>
    </ul>
  </nav>
</section>



