<section class="container my-5">
    <h1 class="my-5">Aggiungi Cliente</h1>

    <section class="row g-3">
        <div class="col-md-6">
          <label class="form-label">Ragione Sociale</label>
          <input type="text" class="form-control" [(ngModel)]="ragioneSociale">
        </div>
        <div class="col-md-6">
          <label class="form-label">P.Iva</label>
          <input type="text" class="form-control"  [(ngModel)]="partitaIva">
        </div>

<!-- Rs P.iva -->
        <div class="col-md-6">
            <label class="form-label">Tipo Cliente</label>
           <select class="form-select form-control"  [(ngModel)]="tipoCliente">
            <option selected *ngFor="let item of tipocliente">{{item}}</option>
          </select>
          </div>
          <div class="col-md-6">
            <label  class="form-label">Email</label>
            <input type="email" class="form-control" [(ngModel)]="email">
          </div>
<!--  -->
          <div class="col-md-8">
            <label class="form-label">Pec</label>
            <input type="email" class="form-control" [(ngModel)]="pec">
          </div>
          <div class="col-md-4">
            <label class="form-label">Telefono</label>
            <input type="number" class="form-control" [(ngModel)]="telefono">
          </div>
<!--  -->

<div class="col-md-6">
    <label  class="form-label">Nome Contatto</label>
    <input type="text" class="form-control" [(ngModel)]="nomeContatto">
  </div>
  <div class="col-md-6">
    <label  class="form-label">Cognome Contatto</label>
    <input type="text" class="form-control" [(ngModel)]="cognomeContatto">
  </div>

  <!--  -->

<div class="col-md-6">
    <label  class="form-label">Telefono Contatto</label>
    <input type="number" class="form-control" [(ngModel)]="telefonoContatto">
  </div>
  <div class="col-md-6">
    <label class="form-label">Email Contatto</label>
    <input type="email" class="form-control" [(ngModel)]="emailContatto">
  </div>


  <h2 class="my-5 ">Indirizzo Sede Operativa</h2>

   <!--  -->

<div class="col-md-10">
    <label  class="form-label">Via</label>
    <input type="text" class="form-control" [(ngModel)]="via">
  </div>
  <div class="col-md-2">
    <label  class="form-label">Civico</label>
    <input type="number" class="form-control" [(ngModel)]="civico">
  </div>

     <!--  -->

<div class="col-md-3">
    <label class="form-label">Cap</label>
    <input type="number" class="form-control" [(ngModel)]="cap">
  </div>
  <div class="col-md-9">
    <label  class="form-label">Località</label>
    <input type="text" class="form-control" [(ngModel)]="localita">
  </div>

       <!--  -->
<h3  class="my-5 ">Comune: </h3> <br>
<div class="col-md-3">
    <label  class="form-label">Nome</label>
    <select class="form-select form-control" [(ngModel)]="nomecomune">
     
      <option selected *ngFor="let item of comuni.content">{{item.nome}}</option>
    </select>
  </div>

  <div class="col-md-3">
    <label  class="form-label">Nome Provincia</label>
    <select class="form-select form-control" [(ngModel)]="nomeprovinciaSedeOperativa">
      <option selected *ngFor="let item of province.content">{{item.nome}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <label  class="form-label">Sigla</label>
    <select class="form-select form-control"  [(ngModel)]="siglacomuneSedeOperativa">
      <option selected *ngFor="let item of province.content">{{item.sigla}}</option>
    </select>
  </div>


  <div class="col-md-5 my-2">
      <button [routerLink]="['/nuovocomune']" routerLinkActive="router-link-active"  class="btn btn-primary form-control">Aggiungi Comune</button>
  </div>

<br><br>

  <h2 class="my-5 col-5">Indirizzo Sede Legale</h2>

   <!--  -->

<div class="col-md-10">
    <label  class="form-label">Via</label>
    <input type="text" class="form-control" [(ngModel)]="viaSedeLegale">
  </div>
  <div class="col-md-2">
    <label  class="form-label">Civico</label>
    <input type="number" class="form-control" [(ngModel)]="civicoSedeLegale">
  </div>

     <!--  -->

<div class="col-md-3">
    <label class="form-label">Cap</label>
    <input type="number" class="form-control" [(ngModel)]="capSedeLegale">
  </div>
  <div class="col-md-9">
    <label  class="form-label">Località</label>
    <input type="text" class="form-control" [(ngModel)]="localitaSedeLegale">
  </div>

       <!--  -->
<h3  class="my-5 ">Comune: </h3> <br>
<div class="col-md-3">
    <label  class="form-label">Nome</label>
    <select class="form-select form-control" [(ngModel)]="nomecomuneSedeLegale">
      <option selected *ngFor="let item of comuni.content">{{item.nome}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <label  class="form-label">Nome Provincia</label>
    <select class="form-select form-control"  [(ngModel)]="nomeprovinciaSedeLegale">
      <option selected *ngFor="let item of province.content">{{item.nome}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <label  class="form-label">Sigla</label>
    <select class="form-select form-control"  [(ngModel)]="siglacomuneSedeLegale">
      <option selected *ngFor="let item of province.content">{{item.sigla}}</option>
    </select>
  </div>

  <div class="col-md-5 my-4">
   <button [routerLink]="['/nuovocomune']" class="btn btn-primary form-control">Aggiungi Comune</button>
  </div>
    </section>
    <div class="col-md-5 my-4">
      <input type="hidden" class="form-control" [(ngModel)]="dataInserimento">
     </div>

    <button (click)="creaCliente()" class="btn btn-dark form-control">Aggiungi</button>
</section>
