
<section class="container my-5">
  <h1 class="my-5">Totale Fatture</h1>
<mat-table [dataSource]="dataSource.content" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Data">
      <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.data | date}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Numero">
      <mat-header-cell *matHeaderCellDef> Numero </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.numero}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Importo">
      <mat-header-cell *matHeaderCellDef> Importo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.importo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Stato">
      <mat-header-cell *matHeaderCellDef> Stato </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.stato.nome}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</section>
