<section class="container my-5">
  <h1 class="my-5">Modifica Cliente</h1>
  {{province | json}}

  <section class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Ragione Sociale</label>
      <input type="text" class="form-control" [(ngModel)]="clienteDaModificare.ragioneSociale">
    </div>
    <div class="col-md-6">
      <label class="form-label">P.Iva</label>
      <input type="text" class="form-control" [(ngModel)]="clienteDaModificare.partitaIva">
    </div>

    <!-- Rs P.iva -->
    <div class="col-md-6">
      <label class="form-label">Tipo Cliente</label>
     <select class="form-select form-control"  [(ngModel)]="clienteDaModificare.tipoCliente">
      <option selected *ngFor="let item of tipocliente">{{item}}</option>
    </select>
    </div>
    <div class="col-md-6">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" [(ngModel)]="clienteDaModificare.email">
    </div>
    <!--  -->
    <div class="col-md-8">
      <label class="form-label">Pec</label>
      <input type="email" class="form-control" [(ngModel)]="clienteDaModificare.pec">
    </div>
    <div class="col-md-4">
      <label class="form-label">Telefono</label>
      <input type="number" class="form-control" [(ngModel)]="clienteDaModificare.telefono">
    </div>
    <!--  -->

    <div class="col-md-6">
      <label class="form-label">Nome Contatto</label>
      <input type="text" class="form-control" [(ngModel)]="clienteDaModificare.nomeContatto">
    </div>
    <div class="col-md-6">
      <label class="form-label">Cognome Contatto</label>
      <input type="text" class="form-control" [(ngModel)]="clienteDaModificare.cognomeContatto">
    </div>

    <!--  -->

    <div class="col-md-6">
      <label class="form-label">Telefono Contatto</label>
      <input type="number" class="form-control" [(ngModel)]="clienteDaModificare.telefonoContatto">
    </div>
    <div class="col-md-6">
      <label class="form-label">Email Contatto</label>
      <input type="email" class="form-control" [(ngModel)]="clienteDaModificare.emailContatto">
    </div>


    <h2 class="my-5 ">Indirizzo Sede Operativa</h2>

    <!--  -->

    <div class="col-md-10">
      <label class="form-label">Via</label>
      <input type="text" class="form-control" [(ngModel)]="clienteDaModificare.indirizzoSedeOperativa.via">
    </div>
    <div class="col-md-2">
      <label class="form-label">Civico</label>
      <input type="number" class="form-control">
    </div>

    <!--  -->

    <div class="col-md-3">
      <label class="form-label">Cap</label>
      <input type="number" class="form-control">
    </div>
    <div class="col-md-9">
      <label class="form-label">Località</label>
      <input type="text" class="form-control">
    </div>

    <!--  -->
  
  </section>

  <div class="col-md-3 my-5">
    <h3 class="">Comune: </h3> <br>
    <select class="form-select form-control" [(ngModel)]="clienteDaModificare.indirizzoSedeOperativa.comune.nome">
      <option selected *ngFor="let item of comuni.content">{{item.nome}}</option >
    </select>
  </div>

  <div class="col-md-5 my-4">
    <button [routerLink]="['/nuovocomune']" routerLinkActive="router-link-active"  class="btn btn-primary form-control">Aggiungi Comune</button>
  </div>


  <h2 class="my-5 col-5">Indirizzo Sede Legale</h2>

  <!--  -->

  <div class="col-md-10">
    <label class="form-label">Via</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-md-2">
    <label class="form-label">Civico</label>
    <input type="number" class="form-control">
  </div>

  <!--  -->

  <div class="col-md-3">
    <label class="form-label">Cap</label>
    <input type="number" class="form-control">
  </div>
  <div class="col-md-9">
    <label class="form-label">Località</label>
    <input type="text" class="form-control">
  </div>

  <!--  -->

  
    <div class="col-md-3 my-5">
      <h3 class=" ">Comune: </h3> <br>
      <select class="form-select form-control" [(ngModel)]="clienteDaModificare.indirizzoSedeLegale.comune.nome">
        <option selected *ngFor="let item of comuni.content">{{item.nome}}</option >
      </select>
    </div>
 

  <div class="col-md-5 my-4">
    <button [routerLink]="['/nuovocomune']"  class="btn btn-primary form-control">Aggiungi Comune</button>
  </div>

  <button (click)="modificaCliente()" class="btn btn-dark form-control my-5">Modifica</button>
</section>