

    <h1 class="conatiner">Modifica Fattura</h1>
<section class="row g-3 my-5">
    <div class="col-md-6">
      <label class="form-label">Data</label>
      <input type="date" class="form-control" [(ngModel)]="fatturaDaModificare.data">
    </div>
    <div class="col-md-6">
      <label class="form-label">Anno</label>
      <input type="text" class="form-control" [(ngModel)]="fatturaDaModificare.anno">
    </div>

<!-- Rs P.iva -->
    <div class="col-md-6">
        <label class="form-label">Importo</label>
        <input type="number" class="form-control" [(ngModel)]="fatturaDaModificare.importo">
      </div>
      <div class="col-md-6">
        <label  class="form-label">Stato</label>
        <select class="form-select form-control" [(ngModel)]="fatturaDaModificare.stato.nome">
          <option selected *ngFor="let item of statoFattura.content">{{item.nome}}</option>
        </select>
   
      </div>

      <button (click)="updateFattura()" class="btn btn-dark form-control my-2 mx-5">Modifica</button>
</section>

