
<section class="container my-5">
    <h1 class="my-2">Login</h1>
    <mat-card>
        <h2>Login</h2>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Username</label>
    <input type="text" class="form-control" [(ngModel)]="username">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Password</label>
    <input type="password" class="form-control" [(ngModel)]="password">
  </div>

  
  <div class="mb-3">
    <button (click)="loginUser()" class="btn btn-warning">Login</button>
  </div>
</mat-card>
</section>