

<!-- <section class="table container my-5">
  <h1 >Lista Clienti</h1>
  <mat-grid-list cols="2" rowHeight="2:1">

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Elimina</th>
        <th scope="col">Modifica</th>
        <th scope="col">Fatture</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of clienti.content">
        <th>{{item.id}}</th>
        <td scope="row">{{item.nomeContatto}}</td>
        <td scope="row">{{item.cognomeContatto}}</td>
        <td scope="row">{{item.emailContatto}}</td>
        <td scope="row">{{item.telefonoContatto}}</td>
        <td scope="row"> <button (click)="eliminaCliente(item)"class="btn btn-danger btn-sm">X</button> </td>
        <td scope="row"> <button (click)="modificaCliente(item)" class="btn btn-warning">Modifica</button> </td>
        <td scope="row"> <button (click)="visualizzaFatture(item)" class="btn btn-dark btn-sm">  <mat-icon class="material-icons-outlined">
          description
         </mat-icon></button> 
        </td>
      </tr>
    </tbody>
  </table>

</mat-grid-list>
  <nav aria-label="...">
    <ul class="pagination pagination-sm" >
      <li class="page-item"  *ngFor="let item of clientsCount; let i=index">
        <a class="page-link"  (click)="getPaginations(i+1)">{{i+1}}</a>
      </li>
    </ul>
  </nav>
</section> -->


<section class="container">
<table class="table my-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
      <th scope="col">Elimina</th>
      <th scope="col">Modifica</th>
      <th scope="col">Fatture</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let item of clienti.content">
      <th>{{item.id}}</th>
      <td scope="row">{{item.nomeContatto}}</td>
      <td scope="row">{{item.cognomeContatto}}</td>
      <td scope="row">{{item.emailContatto}}</td>
      <td scope="row">{{item.telefonoContatto}}</td>
      <td scope="row"> <button (click)="eliminaCliente(item)"class="btn btn-danger btn-sm">X</button> </td>
      <td scope="row"> <button (click)="modificaCliente(item)" class="btn btn-warning">Modifica</button> </td>
      <td scope="row"> <button (click)="visualizzaFatture(item)" class="btn btn-dark btn-sm">  <mat-icon class="material-icons-outlined">
        description
       </mat-icon></button> 
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="...">
  <ul class="pagination pagination-sm" >
    <li class="page-item"  *ngFor="let item of clientsCount; let i=index">
      <a class="page-link"  (click)="getPaginations(i+1)">{{i+1}}</a>
    </li>
  </ul>
</nav>
</section>