<h1>Nome Del Comune</h1>

<div class="col">
    <input type="text" class="form-control" placeholder="Nome Comune" [(ngModel)]="nomeComune">
  </div>
  <div class="col">
  <button (click)="creaNuovoComune()" class="btn btn-dark form-control my-2">Aggiungi</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Elimina</th>
      </tr>
    </thead>
    <tr *ngFor="let item of tuttiComuni.content">
      <td>{{item.id}}</td>
      <td>{{item.nome}}</td>
      <td> <button (click)="deleteComune(item)" class="btn btn-danger btn-sm">X</button> </td>

    </tr>
  </table>

  