<h1>Aggiungi Una Nuova Provincia</h1>

<div class="row container my-5">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nome Provincia" [(ngModel)]="nomeprovincia">
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Sigla Provincia" [(ngModel)]="siglaprovincia">
      </div>
      <div class="col">
        <button (click)="creaProvincia()" class="btn btn-dark form-control">Aggiungi Provincia</button>
      </div>

  </div>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Sigla</th>
        <th scope="col">Comune</th>
        <th scope="col">Elimina</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of province.content">
       <td>{{item.id}}</td>
       <td>{{item.nome}}</td>
       <td>{{item.sigla}}</td>
       <td>
         <button (click)="creaComune(item)" class="btn btn-dark">Comune</button>
       </td>
       <td>
        <button (click)="deleteProvincia(item)" class="btn btn-danger btn-sm">X</button>
      </td>
    </tr>
    </tbody>
  </table>



<!--   
<div class="row container my-5">
    <div class="col">
        <input type="text" class="form-control" placeholder="Nome Comune" [(ngModel)]="nomecomune">
      </div>

      <div class="col">
        <select class="form-select form-control">
          <option selected *ngFor="let item of province.content" value="{{item.id}}">{{item.nome}}</option>
        </select>
      </div>

      <div class="col">
        <button (click)="creaComune()" class="btn btn-dark form-control">Aggiungi Comune</button>
      </div>
</div>

 -->