
<section class="container my-5">
    <h1 class="my-2">Benvenuto su Gestione Clienti</h1>
    <mat-card>
        <h2 class="my-2">SignUp</h2>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nome</label>
            <input type="text" class="form-control" [(ngModel)]="nome">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Cognome</label>
            <input type="text" class="form-control" [(ngModel)]="cognome">
          </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Username</label>
            <input type="text" class="form-control" [(ngModel)]="username">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Email</label>
            <input type="email" class="form-control" [(ngModel)]="email">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password">
          </div>

           <div class="mb-3">
            <button (click)="creaNuovoUser()" class="btn btn-warning">SingUp</button>
            <button [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn btn-primary">Login</button>
          </div>
</mat-card>
</section>